# 02 Pandas

pandas is a fast, powerful, flexible and easy to use oper source data analysis and manipulation tool, built on top python programming languaje.

In [1]:
import pandas as pd
import numpy as np

# 1. series

series is a one-dimencional labeles array capable of holding any data type (intergers, strings, floating point number's, Python pbjects, etc.) The axis labels are collectively refered to as the index.

## 1.1 create a series

*   pandas.Series(data=None,index,None,dtype=None,name=none,copy=False,fastpath=False)

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])  # np.nan:Not a Number
print(s)  # NaN (not a number) is the standard misiing data maker used in pandas

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

## 1.2 create a Series from an array

In [3]:
data = np.array(["a", "b", "c", "d"])
s = pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

## 1.3 create a Series froma a dict

when the data is a dict, and an index is not passed, the series index will be ordered by the dict´s insertion order, if you´re using Python version >= 3.6 and Panda version >=0.23

In [4]:
data1 = {"a": 0.0, "b": 1.0, "c": 2.0}
s = pd.Series(data1)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

# 2. Dataframe

dataframe is a 2-dimencional labeled data structure with columns of potentially different types. You can think of it likr spreacsheet or SQL table, or a dict of Series objects. It is generally the mos: commonly used Pandas Object

## 2.1 create a dataframe form dict of series or dicts

In [5]:
# create random numbers as values

df = pd.DataFrame(
    np.random.randn(7, 4), index=[2, 3, 4, 5, 6, 7, 8], columns=list("ABCD")
)

df

          A         B         C         D
2 -1.911305  0.235216  1.644638 -0.491983
3  0.243761  2.511711  0.381998  1.849064
4  1.015779 -0.128766 -0.401886 -1.277535
5  2.604124  0.003019 -1.769479  1.096264
6 -0.495891 -0.858203  1.220229  0.163142
7  0.400540  0.420488  1.192048 -1.091158
8  2.563363 -1.111998  0.107535 -0.440995

## 2.2 crate a Dataframe from dict of serirs or dicts

In [6]:
df1 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20200102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        # categorias can only take on only a limited, and usually
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df1

     A          B    C  D      E    F
0  1.0 2020-01-02  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-02  1.0  3   test  foo
3  1.0 2020-01-02  1.0  3  train  foo

# 3. Essential basic functionality

## 3.1 head and tail

to view a small sample of a series or DataFrame object, use the head() and tail() methods. The default number of elemet to display is five, but you may pass a custom number.

In [7]:
data2 = np.arange(300).reshape(60,5)
df2 = pd.DataFrame(data2)

### 3.1.1 DataFrame.head(n=5)

this function returns first n rows for the object based on position. It is useful for quickly testing if your object has the right type of data in it

In [8]:
df2.head(3)

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

### 3.1.2 DataFrame.tail(n=5)

This funtios returns last n rows form the object based on position. It is usefull for the object based on position. Is is useful for quickly verifyng for example, after sorting or appending rows

In [9]:
df2.tail(3)

      0    1    2    3    4
57  285  286  287  288  289
58  290  291  292  293  294
59  295  296  297  298  299

## 3.2 Indexing and selecting data

### 3.2.1 Index, columns and values

In [10]:
# create random numbers as values

df = pd.DataFrame(
    np.random.randn(7, 4),
    index=["a", "b", "c", "d", "e", "f", "g"],
    columns=list("ABCD"),
)
df.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [11]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [12]:
df.values

array([[-0.59675206,  1.34716355, -0.58939791, -0.8492943 ],
       [ 0.1723839 ,  0.56192859, -1.15196846, -0.28825316],
       [ 1.06934147, -1.17620087,  1.02299778,  0.38162074],
       [ 1.32059056,  1.06133515, -1.14080558, -0.32589712],
       [ 0.09632845,  1.51281023, -1.06484518,  1.04666553],
       [ 0.14631019,  1.48893137,  1.33010418,  2.46328986],
       [-0.19765657,  0.21186385,  0.3629386 , -1.56095719]])

### 3.2.2 loc,iloc

*   .loc is primarily labal based may also be used with a bolean array. .loc will raise KeyError when the items are not found.
*   .iloc is primarily interger psotion based (from 0 to length-1 of the axis), but may also be used with a bolean array. .iloc will raise IndexError if a requested indexer is out of bounds, except slice indexers which allow out-of-bounds indexing. (this conforms with Pýthon/NumPY slice semantics)

In [13]:
df1 = pd.DataFrame(np.random.randn(6, 4), index=list("abcdef"), columns=list("ABCD"))
df1

          A         B         C         D
a -0.904611  0.149637 -0.575951  0.399363
b  0.024354 -1.010068 -0.999182  0.045527
c -2.269095 -1.601977  0.389134 -1.108662
d  1.140330  0.480096  0.878976  0.001805
e -1.692640 -0.568600 -0.076773  0.685757
f  0.123216 -0.120192 -2.489090  0.386203

In [14]:
df1.loc[["a", "b", "d"], :]

          A         B         C         D
a -0.904611  0.149637 -0.575951  0.399363
b  0.024354 -1.010068 -0.999182  0.045527
d  1.140330  0.480096  0.878976  0.001805

In [15]:
df1.iloc[[0, 1, 3], :]

          A         B         C         D
a -0.904611  0.149637 -0.575951  0.399363
b  0.024354 -1.010068 -0.999182  0.045527
d  1.140330  0.480096  0.878976  0.001805

## 3.3 descriptive statics

There exists a large number of methods for computing descriptive statics and other related opertions on Series, Dataframe. Most of these are aggregations (hence producting a lower-dimeciona result) like sum() mean(), and quatile(), but some of them, like comsum() and cumprod(), produe an object of the same size. Generally speaking, these methods take an axis argument, just like ndarray.{sum,std,...}, but the axis can be specidfied by name or interger:

*   Series: no axis argument needed
*   DataFrame: 'index' (axis=0,default), 'columns'(axis=1)

### 3.3.1 Descriptive statics funtions

*   count: Number of non-NA observartions
*   mean: Mean of values
*   std: bessel-corrected sample standard derivation
*   min: Minimum
*   max: Maximum
*   quantile: Sample quantile (value at %)
*   abs: absolute of values
*   prod: product of values
*   var: unbiased variance

In [16]:
print(df1.count())
print(df1.mean())
print(df1.std())
print(df1.sum())

A    6
B    6
C    6
D    6
dtype: int64
A   -0.596407
B   -0.445184
C   -0.478814
D    0.068332
dtype: float64
A    1.266022
B    0.773055
C    1.189957
D    0.629619
dtype: float64
A   -3.578445
B   -2.671104
C   -2.872886
D    0.409992
dtype: float64

### 3.3.2 summarizing data: descriptibe

Thre us a convenient describe() funtion which computes a variety of summary statics about a Series or the columns of a DataFrame (excluding NAs of course).

In [17]:
df2.describe()

                0           1           2           3           4
count   60.000000   60.000000   60.000000   60.000000   60.000000
mean   147.500000  148.500000  149.500000  150.500000  151.500000
std     87.321246   87.321246   87.321246   87.321246   87.321246
min      0.000000    1.000000    2.000000    3.000000    4.000000
25%     73.750000   74.750000   75.750000   76.750000   77.750000
50%    147.500000  148.500000  149.500000  150.500000  151.500000
75%    221.250000  222.250000  223.250000  224.250000  225.250000
max    295.000000  296.000000  297.000000  298.000000  299.000000

# 4. Drooping labels from an axis

the drop() funtion. It removes a set of labels from an axis

In [18]:
data3 = np.arange(30).reshape(6, 5)
df3 = pd.DataFrame(
    data3, index=["a", "b", "c", "d", "e", "f"], columns=["A", "B", "C", "D", "E"]
)
df3

    A   B   C   D   E
a   0   1   2   3   4
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24
f  25  26  27  28  29

In [19]:
a = df3.drop(["a"], axis=0) # axis 0, delete rows
a

    A   B   C   D   E
b   5   6   7   8   9
c  10  11  12  13  14
d  15  16  17  18  19
e  20  21  22  23  24
f  25  26  27  28  29

In [20]:
b = df3.drop(["A"], axis=1)  # axis = 1, delete columns
b

    B   C   D   E
a   1   2   3   4
b   6   7   8   9
c  11  12  13  14
d  16  17  18  19
e  21  22  23  24
f  26  27  28  29

# 5. DataFrame.append

Append rows of oother to the end of caller, returning a new object. Columns in othr tha are not in the caller are added as new columns.

In [21]:
c = b.append(a, ignore_index=True)
c

AttributeError: 'DataFrame' object has no attribute 'append'

# 6. Reindexing and altering labels

reindex() is the fundamental data allgnment method in pandas. It is used to implement nearly all other features relying on label-alingent funtionality. To reindex means to conform the data to match a given set of labels along a particular axis. This accomplishes several things:

*   Recordes the existing data to match a new set of labels
*   Inserts missing values (NA) markers in label locations whre no data for that label existed
*   If specified, fill data for missing labels using logic (highly relevant to working with time series data)

In [22]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a    0.255812
b   -1.219678
c    2.316722
d   -0.036515
e   -0.827075
dtype: float64

In [23]:
s.reindex(['e','b','f','d']) # the f label was not contained in the Series

e   -0.827075
b   -1.219678
f         NaN
d   -0.036515
dtype: float64

# 7. DataFrame.iteritems

Iterate ove (column name, Series) paits.Iterates over DataFrame columns, returning a tuple with the columns name and the content as a Seires

In [24]:
df4 = pd.DataFrame(np.random.randn(4, 3), columns=["A", "B", "C"])
df4

          A         B         C
0  0.840463 -0.955913  0.759150
1 -0.723889 -0.549835 -0.691688
2  1.519767 -0.113598 -0.832254
3  2.559869 -0.105306 -1.481514

In [25]:
i = 1
for s in df4.items():
    print("columns : %d values: %s" % (i, s))
    i += 1

columns : 1 values: ('A', 0    0.840463
1   -0.723889
2    1.519767
3    2.559869
Name: A, dtype: float64)
columns : 2 values: ('B', 0   -0.955913
1   -0.549835
2   -0.113598
3   -0.105306
Name: B, dtype: float64)
columns : 3 values: ('C', 0    0.759150
1   -0.691688
2   -0.832254
3   -1.481514
Name: C, dtype: float64)

# 8. Statistical funtions

## 8.1 Parcent change

Series and DataFrame have a method pct_change() to compute the percent change over a given number of periods (suing fill_method to fill NA/null values before computing the percet change).

In [26]:
s = pd.Series([1, 2, 3, 4, 5, 4])
print(s.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.250000
5   -0.200000
dtype: float64

## 8.3 Convariance

Series.cov() can be used to compute covariance between series (excluding missing values)

In [27]:
s1 = pd.Series(np.random.randn(1000))
s2 = pd.Series(np.random.randn(1000))
s1.cov(s2)

-0.07129653183854545

Anlogously, DataFrame.cov() to compute pairwise covariances among the series in the DataFrame, also excluding NA/null values.

In [28]:
frame = pd.DataFrame(np.random.randn(1000, 5), columns=["a", "b", "c", "d", "e"])
frame.cov()

          a         b         c         d         e
a  1.023471  0.052599  0.013894 -0.002713 -0.005706
b  0.052599  1.021264  0.038135 -0.004352 -0.031508
c  0.013894  0.038135  1.035477 -0.034855  0.041124
d -0.002713 -0.004352 -0.034855  0.959821 -0.018441
e -0.005706 -0.031508  0.041124 -0.018441  0.973153

# 9. Sorting

Pandas support three kinds of sorting: sorting index labels, sorting by columns values, and sorting by a combination of both.

## 9.1 By index

The Series.sort_Index() and DataFrame.sort_index() methods are used to sort a pandas object by its index levels.

In [29]:
df = pd.DataFrame(
    {
        "one": pd.Series(np.random.rand(3), index=["a", "b", "c"]),
        "two": pd.Series(np.random.randn(4), index=["a", "b", "c", "d"]),
        "three": pd.Series(np.random.randn(3), index=["b", "c", "d"]),
    }
)

unsorted_df = df.reindex(index=["d", "a", "c", "b"], columns=["three", "two", "one"])
unsorted_df

      three       two       one
d -0.939953  0.285012       NaN
a       NaN -0.192570  0.105929
c  0.741144 -0.604902  0.804605
b  2.638199 -0.505614  0.788216

In [30]:
unsorted_df.sort_index()

      three       two       one
a       NaN -0.192570  0.105929
b  2.638199 -0.505614  0.788216
c  0.741144 -0.604902  0.804605
d -0.939953  0.285012       NaN

In [31]:
unsorted_df.sort_index(ascending=False)

      three       two       one
d -0.939953  0.285012       NaN
c  0.741144 -0.604902  0.804605
b  2.638199 -0.505614  0.788216
a       NaN -0.192570  0.105929

## 9.2 By values

The Series.sort_values() method is used to sort a Series by its values. The DataFrame.sortVales() method is used to sort DataFrame by its column or row values. The optional by parameter to DataFrame.sort_values() may used to specify one or more columns to use to determine the sorted order.

In [32]:
df1 = pd.DataFrame({"one": [2, 1, 1, 1], "two": [1, 3, 2, 4], "three": [5, 4, 3, 2]})
df1.sort_values(by="two")

   one  two  three
0    2    1      5
2    1    2      3
1    1    3      4
3    1    4      2

# 10. Working with missing data

As data comes in many shapes and forms, pandas aims to be flexible with regard to handling missing data. Hhile NaN is the default missing value for reasons of computational speed and converience, we need to be able to easily detect this value with data of different type: floating point, interger, boolean, and general object. In many cases, the Python None will arise and we wish to also consider that 'missing' or 'not available' or 'NA'.

In [37]:
df6 = pd.DataFrame(
    np.random.randn(5, 3),
    index=["a", "c", "e", "f", "h"],
    columns=["one", "two", "three"],
)
df6 = df.reindex(["a", "b", "c", "d", "e", "f", "g", "h"])
df6

        one       two     three
a  0.105929 -0.192570       NaN
b  0.788216 -0.505614  2.638199
c  0.804605 -0.604902  0.741144
d       NaN  0.285012 -0.939953
e       NaN       NaN       NaN
f       NaN       NaN       NaN
g       NaN       NaN       NaN
h       NaN       NaN       NaN

## 10.1 Detect missing values

to make detecting missin easier (and across diferetn array dtypes), pandas the isna() and notna() funtions, wich are also methods on Series and DataFrame objects.

In [38]:
df6['one'].isna()

a    False
b    False
c    False
d     True
e     True
f     True
g     True
h     True
Name: one, dtype: bool

## 10.2 calculattions with missing data

missing values naturally through arithmetic operations btween pandas objects.

*   when summing data, NA (missing) values will be trated as zero.
*   if the data are all NA, the resul will be 0.
*   Cumulative methods like consum() and cumporod() ignore NA values by default, but preserve them in the reulting arrays. To override this behaviour and include NA values, use sklpna = False.

In [39]:
df6.sum(axis=1)

a   -0.086642
b    2.920801
c    0.940846
d   -0.654941
e    0.000000
f    0.000000
g    0.000000
h    0.000000
dtype: float64

## 10.3 Filling missinn values: fillna

fillna() can 'fill in' NA values with non-NA data in couple of ways, which we illustrate:

In [40]:
dff = pd.DataFrame(np.random.randn(10, 3), columns=list("ABC"))
dff.iloc[3:5, 0] = np.nan
dff.iloc[4:6, 1] = np.nan
dff.iloc[5:8, 2] = np.nan
dff

          A         B         C
0 -0.663317 -0.518960  1.051791
1 -1.246918 -1.125972 -0.164455
2  0.202183 -1.022594 -0.589366
3       NaN -0.368682  0.864103
4       NaN       NaN -0.480931
5 -0.550955       NaN       NaN
6 -0.320319  0.763223       NaN
7  1.467570 -1.804608       NaN
8 -0.014153  0.187530 -0.039197
9  0.503533 -1.588690  0.423507

In [41]:
# Replace NA with a scalar values

dff.fillna(dff.mean())

          A         B         C
0 -0.663317 -0.518960  1.051791
1 -1.246918 -1.125972 -0.164455
2  0.202183 -1.022594 -0.589366
3 -0.077797 -0.368682  0.864103
4 -0.077797 -0.684844 -0.480931
5 -0.550955 -0.684844  0.152207
6 -0.320319  0.763223  0.152207
7  1.467570 -1.804608  0.152207
8 -0.014153  0.187530 -0.039197
9  0.503533 -1.588690  0.423507

## 10.4 Dropping axis labels with missing data: dropna

Use dropna() to excluede label fron a data which refer to missing data.

In [42]:
dff.dropna()

          A         B         C
0 -0.663317 -0.518960  1.051791
1 -1.246918 -1.125972 -0.164455
2  0.202183 -1.022594 -0.589366
8 -0.014153  0.187530 -0.039197
9  0.503533 -1.588690  0.423507