# 2. Python data types
## 2.1 Numeric: int, float, complex
* Python support intergers, floating-point numbers and complex numbers.
* Intergers and floating point are separated by the presence or absence of a decimal point.
* Complet numbers are written in the form x + yj, whre x is the real part and y is the imaginary part.
* Intergers can be of any length, a floating-point number is accurate only up to 15 decimal places (the 16th place is inaccurate)

In [1]:
a = 5
print(type(a))

<class 'int'>

In [2]:
a = 5.0
print(type(a))

<class 'float'>

In [3]:
a = 5 + 6j
print(a+6)
print(type(a))

(11+6j)
<class 'complex'>

## 2.2 Text: str
### 2.2.1 String

* in python a string is a sequence of unicode characters. Unicode was introduced to include every character in all languajes and bring uniformity in enconding. You can learn about Unicode from Python Unicode
* Strings can be created by enclosing characters inside a single quote or double-quotes. Even triple quotes can be used in Python but generally used to represent multiline strings and docstrings

In [4]:
""" Create string """

s1_ = "Xa}{} Python"
""" In a single quote or double-quotes"""
s2_ = 'Xalapete Python'

s3_= """ Xalapete

        Python
"""

""" Triple quotes for multiline strings and docstrings """

print(s1_)
print(s2_)
print(s3_)
print(type(s1_))
print(type(s2_))
print(type(s3_))

Xa}{} Python
Xalapete Python
 Xalapete

        Python

<class 'str'>
<class 'str'>
<class 'str'>

#### 2.2.2 Escape sequence
* To insert characteres that are illegal in a string, use an escape character.
* An escape character is a backslash \ followed by the character you want to insert
* An escape sequence stars with backslash and is interpreted diffetently. If we use a single quote to represent a string, all the single quotes inside the string must be escaped. Similar with double quotes

In [5]:
""" to show the double quote """
s = "python\""
s

'python"'

In [6]:
""" to show the backslash """
s = "python\\"
s

'python\\'

In [8]:
""" to start a new line """
s = "py\nthon"
print(s)

py
thon

### 2.2.3 Raw string

* Sometimes we may wish to ignore the scape sequences inside. To do this we can place r or R in front of the string.
This will imply that is a raw string and any escape sequence inside it will be ignored

In [1]:
s = r"C:\abc\abc\abc.txt"
print(s)

C:\abc\abc\abc.txt

### 2.2.4 Access Characteres in a String

We can access individual characters using indexing and a range of characteres using slicing. Index starts from 0. Typing to access a character out of index range will raise an IndexError. The index must be interger. We canÂ´t use a float or other types, this will result into TypeError.

Python allows negative indexing for its sequences.

The index of -1 refers to the last item -2 to the second last item and so on. We can access a ranfe of items in a string by using the sicing operaton :(colon).

In [2]:
s = "python"
s[0]

'p'

In [3]:
s[1]

'y'

In [4]:
s[-1]

'n'

In [10]:
""" error por el numeor de caracteres (Index Error) """
s[99]

IndexError: string index out of range

In [8]:
""" error for the numeric type """
s[1.0]

TypeError: string indices must be integers, not 'float'

In [9]:
""" python """
s[0:3]

'pyt'

In [11]:
s[0:4:2]

'pt'

In [13]:
""" unchangeable """
s[0] = "l"

TypeError: 'str' object does not support item assignment

### 2.3.5 String Operators

There are many operations tha can be performed with strings which makes it one of the most used data types in Python.

Joining Of two or more strings into a single one is called concatenation. The operaot + does this in Python.

Te operator * can be usen to repeat the string for given number of times.

In [1]:
""" operator + """

a = "hello"
b = "world"
print(a+b)

helloworld

In [2]:
""" operator * """
a = "hello"
b = 2
print(a*b)

hellohello

### 2.2.6 Common Python String Methods

There are numerous methods avaliable with the string object.

Some of the commonly used methods are lower(), upper(), join(), split(), find(), replace(), etc.

In [4]:
""" split
    str.split(str1): split a string by str1
"""
s = "python is cool"
s.split()

['python', 'is', 'cool']

In [5]:
""" replace
    str.replace(str1, str2): replace the str1 by str2
"""
s = "python"
s.replace("py","ABC")

'ABCthon'

In [2]:
""" lower and upper
    str.lower(): lower a string
    str.upper(): upper string
"""
s = "Python"
print(s.lower())
print(s.upper())

python
PYTHON

In [3]:
""" join
    str.join(iter): join the string by iter
"""
"--".join(["python","is","cool"])

'python--is--cool'

### 2.2.7 String Formatting

In [4]:
""" switch %s and %d with AI and 63 """
'My name is %s, age is %d' %("AI",63)

'My name is AI, age is 63'

## 2.3 List

List are mutable sequences, typically used to store collections of homogeneous items.

List = [obj1, obj2, ...]

In [5]:
""" craete a list """
l = [1,2,3,"hello"]
print(l)

[1, 2, 3, 'hello']

In [7]:
""" access a items in a list """
print(l[1])
print(l[0:2])
print(l[0:3:2])

2
[1, 2]
[1, 3]

In [8]:
""" change items in a list """
l[1] = 0
print(l)

[1, 0, 3, 'hello']

### 2.3.1 List Operators

Same as strings operators

In [9]:
a = [1,2,3]
b = [4,5]

In [10]:
""" operator * """
print(a*2)
""" operator + """
print(a+b)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 4, 5]

### 2.3.2 List Methods

In [12]:
animals = ["cat", "dog", "bird"]
""" list.append(obj): add one item to the end of a list"""
animals.append("fish")
print(animals)

['cat', 'dog', 'bird', 'fish']

In [13]:
""" List.remove(obj): delete one or more itmes form a list"""
animals.remove('fish')
print(animals)

['cat', 'dog', 'bird']

In [14]:
""" list.insert(index, object): insert on item at the defined index """
animals.insert(1,"fish")
print(animals)

['cat', 'fish', 'dog', 'bird']

In [15]:
""" List.pop([index=-1]): removes and returns the last item if the index is not provided """
print(animals.pop())
print(animals)

bird
['cat', 'fish', 'dog']

In [16]:
""" enumerate(sequenece): adds counter to an iterable and returns it. """
for i,x in enumerate(animals):
    print(i,x)

0 cat
1 fish
2 dog

In [17]:
""" List sort """
list1 = [12,45,32,55]
""" list.sort(cmp=None, key=None, reverse=False): sorts the elements of a given list in a specifict ascendence """
list1.sort()
print(list1)

[12, 32, 45, 55]

In [18]:
""" List comprehesion 
    define and create a list based on existing list
"""
squares = [x*2 for x in animals]
print(squares)

['catcat', 'fishfish', 'dogdog']

### 2.3.2 List slicing and indexing

List indexing returns te index of the specified element in the list

In [19]:
l = [[1,3],[4,5]]
l[1][0]

4

list slicing retunrs a slice object can be used to slice strings,list, tuple, tec.

list[start,end,step]

* start: where slicing starts: Default to none if not provied
* end: where slicing stopos.
* step: determines the increment between each index for slicing. Defaults to None if not provied

In [20]:
l = [0,1,2,3,4,5]
l[::2]

[0, 2, 4]

In [21]:
l[1:4:2]

[1, 3]

## 2.4 Tuples

tuples are inmutables sequenses, typicaly used to store collections, typicallyused to store collections of heterogeneous data(such as the 2-tuples produced by the enumerate() built-in). Tuples are also used for cases where an inmutable sequence of homogenous data is needed(such as allowing storage in a set or dict instance).

(obj1,obj2,...)

In [22]:
""" create a tuple """
t = (1,[1,2],"Python")
print(t)
print(type(t))

(1, [1, 2], 'Python')
<class 'tuple'>

In [23]:
""" create a tuple with an item """
t1 = (5)
""" ', '  is needed"""
t2 = (5,)
print("t1",type(t1))
print("t2",type(t2))

t1 <class 'int'>
t2 <class 'tuple'>

In [24]:
""" Tuple indexing """

t = (1,2,3)
print(t[1])

2

In [25]:
""" tuple unchangeable """
t[1] = 0
print(t)

TypeError: 'tuple' object does not support item assignment

### 2.5 Dictionaries

Adictionary is a unorded collection of items. Each item. Each item if dictianary has a key:value pair. The keys within one dictianary are unique. If you store data using a key that is already in use, the old value associated with that key is forgotten. Extracting a value using a non-existent key will cause error.

Dictionaries are unorded, changeable and does not duplicates. A pair of braches creates an empty dictionary: {}.

{key:value}

In [ ]:
""" Create a dictionary in three diferentes ways """
x = {"food":"spam","quantity":2,"color":"pink"}
x2 = dict(food="spam", quantity=4, color="pink")